{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Excluir Instância de Fluxo</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..800&display=swap');
    </style>
</head>
<body>
    <h2>Excluir Instância</h2>
    <p>Tem certeza que deseja excluir a instância <strong>{{ instancia.nome }}</strong>?</p>
    <form method="post">
        {% csrf_token %}
        <div class="delete">
        <button class="delete-button" type="submit">Sim, excluir</button>
        <a class="a-detalhes" href="{% url 'listar_instancias_fluxo' %}">Cancelar</a>
        </div>
    </form>
</body>
</html>
