{% load static %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">

<div class="sidebar">

    <a href="{% url 'home' %}"> <img src="\static\img\icon.png"> <span class="tooltip" style="color:#2c5edc ;border-color:#2c5edc;">Sobre nós</span> </a>

    <a href="{% url 'logout' %}" style="margin-bottom:5px;"><img src="\static\img\logout.png"> <span class="tooltip" style="color:#ff3b3b ;border-color:#ff3b3b;">Sair</span> </a>
    
    <hr> 

    <a href="{% url 'listar_instancias_fluxo' %}"> <img src="\static\img\flow.png"> <span class="tooltip">Fluxos</span> </a>

   <a href="{% url 'listar_modelos_fluxo' %}"> <img src="\static\img\flou.png"> <span class="tooltip">Modelos de Fluxo</span> </a>

    <a href="{% url 'listar_usuarios' %}"> <img src="\static\img\users.png"> <span class="tooltip">Usuários</span> </a>

    <a href="{% url 'listar_setores' %}"> <img src="\static\img\department.png"> <span class="tooltip">Setores</span> </a>

    <a href="{% url 'assinatura_view' %}"> <img src="\static\img\crown.png"> <span class="tooltip" style="color: #ffc700; border-color: #ffc700;">Planos</span> </a>
</div>
