body {
background-color:#2d3b49;
font-family: Outfit, sans-serif;
color: white;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 60px;
    height: 100vh;
    background-color:#24303b;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.277);
    border-right: solid 1px #1d4bbd ;
}
.sidebar a {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px;
  color: white;
  transition: background-color 0.2s;
  border-radius: 5px;
  margin-bottom: 15px;
}
.sidebar a:hover {
    background-color: rgba(0, 0, 0, 0.25);
    text-decoration: none;
}
.sidebar a.active {
    background-color: rgba(0, 0, 0, 0.25);
    text-decoration: none;
}
.sidebar img{
    width: 20px;
    height: 20px;
}

.sidebar hr{
    display: block;
    border: none;
    background-color: #00000065;
    height: 1px;
    width: 60px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.tooltip {
    position: absolute;
    left: 55px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #1d232a;
    border: solid 1px;
    border-color: #ffffff;
    padding: 6px 12px;
    border-radius: 3px;
    white-space: nowrap;
    color: #ffffff;
    font-size: 15px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s, transform 0.25s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.sidebar a:hover .tooltip {
    opacity: 1;
    transform: translateY(-50%) translateX(8px);
}

.form-group {
    display: flex;
    margin-bottom: 18px;
    text-align: left;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    flex-direction: column;
}
.form-group label{
    display: flex;
    align-self: start;
    margin-left: -50px;
    padding-bottom: px;
    font-size:20px;
    color: #4c77e3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.251);
}

.main-content {
    margin-left: 60px;
    padding: 40px;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-content h1 {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin-top: -20px;
}
.main-img{
    padding-right: 5px;
    width: 50px;
    height: 50px;
}
.criar input{
    display: flex;
    align-self: center;
    font-size: 20px;
    border-radius: 5px;
    border: solid 2px #c0c0c0;
    height: 30px;
    width: 350px;
    background-color: #00000065;
    font-family: "Outfit", sans-serif;
    text-align:start;
    color: white;
    margin-bottom: 10px;
}
.criar input::placeholder{
    padding-left: 5px;
}
.main-content label{
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.251);
    font-size: 17px;
}
.main-content textarea{
    align-self: center;
    font-size: 20px;
    border-radius: 5px;
    border: solid 2px #c0c0c0;
    height:200px;
    width: 550px;
    background-color: #00000065;
    font-family: "Outfit", sans-serif;
    text-align:start;
    color: white;
    margin-bottom: 10px;
    display: flex;
}
.main-content select{
    align-self: center;
    font-size: 20px;
    border-radius: 5px;
    border: solid 2px #c0c0c0;
    height: 35px;
    width: 300px;
    background-color: #00000065;
    font-family: "Outfit", sans-serif;
    text-align:start;
    color: white;
    margin-bottom: 10px;
}
.main-content option{
    align-self: center;
    font-size: 20px;
    border-radius: 5px;
    border: solid 2px #c0c0c0;
    height: 35px;
    width: 300px;
    background-color: #00000065;
    font-family: "Outfit", sans-serif;
    text-align:start;
    color: white;
    margin-bottom: 10px;
}
.main-content hr{
    background-color: #1d4bbd ;
    height: 3px;
    border: none;
    margin-bottom: 30px;
}
.centerTEXT {
    padding: 40px;
    margin-left: 60px;
    font-family: "Outfit", sans-serif;
    color: #1d4bbd;
    font-size: 50px;
    text-align: center;
}

.login-content {
    margin-top: 300px;
    color: white;
    font-family: "Outfit", sans-serif;
    padding: 50px;
    text-align: center;
    justify-content: center;
}
.login-content h2{
    font-size: 40px;
}
.login-content input{
    align-self: center;
    font-size: 20px;
    border-radius: 5px;
    border: solid 2px #1d4bbd;
    height: 50px;
    width: 500px;
    background-color: #00000065;
    font-family: "Outfit", sans-serif;
    text-align:start;
    color: white;
}
.login-content input::placeholder{
    padding-left: 5px;
}

.blue-button-login{
             height: 50px;
             width: 140px;
             margin-bottom: 5px;
             align-items: center;
             background-color: #1d4bbd;
             color: white;
             padding: 10px 18px;
             border-radius: 5px;
             text-decoration: none;
             font-family: 'Outfit', sans-serif;
             font-size: 20px;
             transition: 0.2s;
             border: none;
}
.blue-button-login:hover{
    background-color: #0000003a;
}
.blue-button{
             height: 40px;
             width: auto;
             margin-bottom: 5px;
             align-items: center;
             text-align: center;
             justify-content: center;
             background-color: #1d4bbd;
             color: white;
             padding: 10px 18px;
             border-radius: 5px;
             text-decoration: none;
             font-family: 'Outfit', sans-serif;
             font-size: 15px;
             transition: 0.2s;
             border: none;
             display: flex;
}
.blue-button:hover{
    background-color: #0000003a;
}

.tab {
            overflow: hidden;
            border-bottom: 3px solid #1d4bbd;
            margin-bottom: 15px;
            display: flex;
            gap: 3px;
            align-items: center;
            font-family: "Outfit", sans-serif;
        }
        .tab button {
            margin-top: 2px;
            background-color: #384350;
            border-top: 3px solid#384350;
            border-left: 3px solid#384350;
            border-right: 3px solid#384350;
            border-bottom: none;
            border-top-left-radius:7px;
            border-top-right-radius:7px;
            outline: none;
            padding: 15px 20px;
            transition: 0.2s;
            font-weight:bold;
            font-size: 15px;
        }
        .tab button:hover {
            background-color: rgba(0, 0, 0, 0.25);
            border-top: 3px solid rgba(0, 0, 0, 0.25);
            border-left: 3px solid rgba(0, 0, 0, 0.25);
            border-right: 3px solid rgba(0, 0, 0, 0.25);
        }
        .tab button.active {
            background-color: #24303b;
            border-top: 3px solid#1d4bbd;
            border-left: 3px solid#1d4bbd;
            border-right: 3px solid#1d4bbd;
            color: white;
        }
        .tabcontent {
            display: none;

        }

        table {
            border-collapse: collapse;
            border-radius: 5px;
            border-spacing: 0;
            overflow: hidden; 
            width: 100%;
            margin-top: 10px;
            font-family: "Outfit", sans-serif;
            font-size: 15px;
        }
        th, td {
            border: 2px SOLID#ffffff44;
            padding: 8px;
            text-align: left;
            color: white;
            justify-content: center;
            align-items: center;
            width: 10px;
        }
        th {
            background-color: #24303b;
            color:#9aa8bc ;
        }
        a {
            text-decoration: none;
            color: #4287f5;
            display: inline-flex;
            align-items: center;
        }
        a:hover {
            text-decoration: underline;
        }

        .waves-top {
    display: block;
    width: 100%;
    height: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background: url('/static/img/waves.png') no-repeat center;
    background-size: cover;
    z-index: 1000;
}
.flow {
    margin-top: 50px;
    display: block;
    width: 200px;
    height: 200px;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: url('/static/img/logo.png') no-repeat center;
    background-size: cover;
    z-index: 1000;
}

        .right-top-button{
            display: flex;
             height: 25px;
             width: 100px;
             margin-bottom: 5px;
             align-items: center;
             position: relative;
             background-color: #1d4bbd;
             color: white;
             padding: 10px 18px;
             border-radius: 5px;
             text-decoration: none;
             font-family: 'Outfit', sans-serif;
             font-size: 16px;
             transition: 0.2s;
             margin-left: auto;
        }
        .right-top-button:hover{
            background-color:#0000003a;
            text-decoration: none;
        }
        .delete{
            display: flex;
        }
        .delete-button{
            font-family: 'Outfit', sans-serif;
            color: #ff3b3b;
            background:none;
            border: none;
            font-size: 17px;
            margin-right: 10px;
            align-items: center;
            justify-content: center;
            display: flex;
        }
        .delete-button:hover{
            text-decoration: underline;
        }
        .delete-button img{
            width: 20px;
            height: 20px;
            padding: 5px;
        }
        .a-excluir{
            color: #ff3b3b;
        }
        .a-excluir img{
            width: 20px;
            height: 20px;
            padding: 5px;
        }
        .a-detalhes{
            color: #3968de;
            padding-right: 10px;
        }
        .a-detalhes img{
            width: 20px;
            height: 20px;
            padding: 5px;
        }
        .card {
            background: #364453;
            border-radius: 8px;
            padding: 18px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.277);
            margin-bottom: 16px;
            color:#ffffff ;
            border: solid 3px #1d4bbd;
        }

        h1 {
            margin: 0 0 20px 0;
            font-size: 30px;
        }

        .meta {
            color: #c2c2c2;
            font-size: 13px;
            margin-bottom: 10px;
        }

        .timeline {
            position: relative;
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 20px 10px;
            color: white;
        }

        .line {
            position: absolute;
            margin-top: 5px;
            left: 8%;
            right: 8%;
            height: 4px;
            background: #1d4bbd;
            top: 26px;
            z-index: 0;
            border-radius: 2px;
        }

        .stage {
            z-index: 2;
            flex: 1;
            text-align: center;
            position: relative;
            cursor: pointer;
        }

        .dot {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: inline-block;
            margin-bottom: 6px;
            border: 3px solid #fff;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
            align-items: center;
        }

        .stage .label {
            display: block;
            font-weight: 600;
            color: #ffffff;
        }

        .stage .sub {
            display: block;
            font-size: 12px;
            color: #ffffff;
            margin-top: 3px;
        }

        /* states */
        .dot.pending {
            background: #364453;
            border-color: #1d4bbd;
        }

        .dot.current {
            background: #1d4bbd;
            border-color: #1d4bbd;
        }

        .dot.done {
            background: #1d4bbd;
            background: url('/static/img/2025_11_19_06e_Kleki.png') no-repeat center;
            background-size: cover;
            border-color: #1d4bbd;
            
            
        }

        /* modal */
        .modal {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            align-items: center;
            justify-content: center;
            z-index: 9999;
        }

        .modal .box {
            background: #fff;
            width: 520px;
            max-width: 95%;
            padding: 18px;
            border-radius: 8px;
            position: relative;
        }

        .modal h3 {
            margin: 0 0 6px 0;
        }

        .modal .close {
            position: absolute;
            right: 12px;
            top: 10px;
            cursor: pointer;
            font-size: 20px;
            color: #b6b6b6;
        }

        textarea {
            width: 100%;
            min-height: 90px;
            padding: 8px;
            box-sizing: border-box;
            border-radius: 6px;
            border: 1px solid #ccc;
            resize: vertical;
        }

        .actions {
            margin-top: 10px;
            display: flex;
            gap: 8px;
            justify-content: flex-end;
        }

        .a-button {
            padding: 8px 12px;
            border-radius: 6px;
            border: 0;
            cursor: pointer;
        }

        .btn-return {
            background: #f0f0f0;
            color: #333;
        }

        .btn-advance {
            background: #4b6cff;
            color: #fff;
        }

        .history {
            margin-top: 12px;
        }

        .mov {
            padding: 8px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.261);
        }

        .mov small {
            color: #c2c2c2;
        }
        .btn-voltar{
            color: white;
            padding-bottom: 15px;
            font-size: 20px;
        }
        .btn-voltar img{
            width: 20px;
            height: 20px;
        }
        .input-pesquisa {
    position: relative;
    display: flex;
    height: 25px;
    width: 1250px;
    padding: 10px 10px;
    margin-left: 30px;
    margin-bottom: 5px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: #24303b;
    font-family: 'Outfit', sans-serif;
    color: white;
}
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.top-bar h1 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}
.top-bar .input-pesquisa{
    margin-right: 10px;
}
